<form name="deleteForm" (ngSubmit)="confirmDeleteAccount()">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar la eliminación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancelDeleteAccount()">&times;</button>
    </div>
    <div class="modal-body">
        <p>¿Esta seguro de eliminar?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-fill"  (click)="cancelDeleteAccount()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" class="btn btn-danger btn-fill">
            <span class="fa fa-remove"></span>&nbsp;<span>Eliminar</span>
        </button>
    </div>
</form>


