<div class="sidebar-wrapper">
    <div class="logo">
        <div class="row">
            <div class="col-md-1">
                <img src="../../../../content/images/logo-safe-economy.png" style="width: 50px; height: 50px"/>
            </div>
            <div class="col-md-10">
                <a routerLink="/" class="simple-text" style="padding-top: 10px">
                    Safe Economy
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="loggedUser">
        <ul class="nav" data-color="red">
            <li>
                <a class="nav-link active" routerLink="/home" routerLinkActive="active">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Inicio</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="profile">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Perfil de usuario</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="wallet">
                    <i class="nc-icon nc-money-coins"></i>
                    <p>Monedero</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="payments">
                    <i class=" nc-icon nc-credit-card"></i>
                    <p>Pagos</p>
                </a>
            </li>
            <li *ngIf="false">
                <a class="nav-link" routerLinkActive="active" routerLink="calendar">
                    <i class="nc-icon nc-album-2"></i>
                    <p>Calendario</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="bankdashboard">
                    <i class="nc-icon nc-bank"></i>
                    <p>Cuentas bancarias</p>
                </a>
            </li>
            <li *ngIf="loggedUser.authorities.indexOf('ROLE_ADMIN') !== -1">
                <a class="nav-link" routerLinkActive="active" routerLink="preferences">
                    <i class="nc-icon nc-settings-tool-66"></i>
                    <p>Preferencias</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="savings">
                    <i class="nc-icon nc-send"></i>
                    <p>Ahorros</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active"  routerLink="movements">
                    <i class="nc-icon pe-7s-graph3"></i>
                    <p>Movimientos</p>
                </a>


            </li>
            <li class="nav-item active active-pro">
                <jhi-logout></jhi-logout>
            </li>

        </ul>
    </div>
</div>
