<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Activación</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Tu cuenta ha sido activada!</strong> Continua a iniciar sesión </span>
                <a class="alert-link" (click)="login()">Iniciar Sesión</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Lo sentimos ocurrio un error.</strong> Porfavor continua a crear una cuenta Safe Economy.
                <a class="alert-link" (click)="toSingin()">Crear Cuenta</a>.
            </div>

        </div>
    </div>
</div>
