<form name="AddMovementForm" id="move" style="margin-top: -20px !important; position: center">
    <div class="modal-header" style="margin-bottom: 20px">
        <h4 style="margin-left: 140px">Safe economy</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="closeModal()">&times;</button>
    </div>
    <div class="row justify-content-center" style="margin-top: -20px !important">
        <form [formGroup]="addPaymentsForm" (ngSubmit)="payment? updatePayment() : onSubmitPayment()" action="somefile.php">
            <div class="form-group">
                <label for="namePayment">Nombre:</label>
                <input
                    placeholder="Netflix"
                    type="text"
                    id="namePayment"
                    formControlName="namePayment"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="selectype">Tipo de pago:</label>
                <select id="selectype"
                        class="form-control mb-2 mr-sm-2 mb-sm-0"
                        style="width: 215px"
                        (change)="getSelectType(selectType.value)"
                        #selectType
                        class="form-control">
                    <option *ngFor="let type of types">{{type.description}}</option>
                </select>
            </div>
            <div action="/action_page.php">
                <div class="form-group">
                    <label for="date">Dia de pago: </label>
                    <input
                        type="text"
                        placeholder="03"
                        pattern="([0-9]{2}$)"
                        title="Por favor introducir el siguiente formato 01"
                        id="date"
                        formControlName="date"
                        class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="amount">Monto del pago:</label>
                <input
                    placeholder="$30"
                    type="number"
                    id="amount"
                    formControlName="amount"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="selectAccount">Cuenta:</label>
                <select id="selectAccount"
                        class="form-control mb-2 mr-sm-2 mb-sm-0"
                        style="width: 215px"
                        (change)="getSelectAccount(select.value)"
                        #select
                        class="form-control">
                    <option *ngFor="let account of accounts">{{account.bank}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="priority">Prioridad:</label>
                <input
                    type="number"
                    id="priority"
                    formControlName="priority"
                    class="form-control">
                </input>
            </div>
            <div [hidden]="!showMsjPayment">
                <div style="background:#B40404; margin-bottom:10px; padding: 5px; border-radius: 6px;" >
                    <p style="color: white" >Debe de ser un día valido</p>
                    <p style="color: white" >entre 1 y 31 !</p>
                </div>
            </div>
            <div [hidden]="!confirmPayment">
                <div style="background:#87CB16; margin-bottom:10px; padding: 5px; border-radius: 6px;" >
                    <p style="color: white" >{{payment?  'Modificado satisfactoriamente' : 'Creado satisfactoriamente!!!'}}</p>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-fill" (click)="closeModal()">
                        <span class="fa fa-ban"></span>&nbsp;Cancelar
                    </button>
                    <button
                        [hidden]="confirmAccount"
                        type="submit"
                        class="btn btn-success btn-fill"
                        [disabled]="!addPaymentsForm.valid" (click)="payment? updatePayment() : onSubmitPayment()">
                        <span class="fa fa-save"></span>{{payment? 'Modificar' : 'Crear'}} pago
                    </button>
                </div>
</form>
