<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:utext="#{email.activation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
        <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Roboto:regular"/>
    </head>
    <body>
    <div style="background-color: #f93e49;
         width: 100%;
         height: 50px;
         top: 0px;
         margin: auto;">
                    <h3 style="color:
                    white; text-align:
                    center; margin:
                    auto; font-family: Roboto, serif;
                    font-size: 24px;">Safe Economy</h3>
                </div>
                <div style="text-align: center">
                    <img src="./logo-safe-economy-black.png" style="width: 15%; height: 15%" alt=""/>
                </div>
                <div style="text-align: center;
                     font-family: 'Roboto', serif;
                     font-size: 24px;">
        <h5 th:utext="#{email.activation.greeting(${user.login})}">
            Dear
        </h5>
        <p th:utext="#{email.creation.text1}">
            Your JHipster account has been created, please click on the URL below to access it:
        </p>
        <p>
          <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
             th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Login link</a>
        </p>
        <p>
            <span th:utext="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:utext="#{email.signature}">JHipster.</em>
        </p>
        </div>
    </body>
</html>
