<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="#{email.reactivation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto:regular"/>
</head>
<body>
<div style="background-color: #f93e49;
     width: 100%;
     height: 50px;
     top: 0px;
     margin: auto;">
                <h3 style="color:
                white; text-align:
                center; margin:
                auto; font-family: Roboto, serif;
                font-size: 24px;">Safe Economy</h3>
            </div>
            <div style="text-align: center">
                <img src="https://preview.ibb.co/cnUse8/logo_safe_economy_black.png" style="width: 15%; height: 15%" alt=""/>
            </div>
            <div style="text-align: center;
                 font-family: 'Roboto', serif;
                 font-size: 24px;">
<h5 th:utext="#{email.reactivation.greeting(${user.login})}">
    Dear
</h5>
<p th:utext="#{email.reactivation.text1}">
    Your JHipster account has been created, please click on the URL below to activate it:
</p>
<p>
    <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
       th:text="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Activation Link</a>
</p>
<p>
    <span th:utext="#{email.reactivation.text2}">Regards, </span>
    <br/>
    <em th:utext="#{email.signature}">JHipster.</em>
</p>
</div>
</body>
</html>
