<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.social.registration.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
        <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Roboto:regular"/>
    </head>
    <body>
    <div style="background-color: #f93e49;
         width: 100%;
         height: 120px;
         top: 0px;
         margin: auto;">
                    <h style="color:
                    white; text-align:
                    center; margin:
                    auto; font-family: Roboto, serif;
                    font-size: 48px;">Safe Economy</h>
                </div>
                <div style="text-align: center">
                    <img src="https://preview.ibb.co/cnUse8/logo_safe_economy_black.png" style="width: 15%; height: 15%" alt=""/>
                </div>
        <p th:utext="#{email.social.registration.greeting(${user.firstName})}">
            Dear
        </p>
        <p th:utext="#{email.social.registration.text1(${provider})}">
            Your JHipster account has been created with the social connection: Provider.
        </p>
        <p>
            <span th:utext="#{email.social.registration.text2}">Regards, </span>
            <br/>
            <em th:utext="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
