<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySavingLabel">Create or edit a Saving</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!saving.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="saving.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="saving.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateToFinish">Date To Finish</label>
            <div class="d-flex">
                <input id="field_dateToFinish" type="datetime-local" class="form-control" name="dateToFinish" [(ngModel)]="saving.dateToFinish"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ammount">Ammount</label>
            <input type="number" class="form-control" name="ammount" id="field_ammount"
                [(ngModel)]="saving.ammount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_savingPercentage">Saving Percentage</label>
            <input type="number" class="form-control" name="savingPercentage" id="field_savingPercentage"
                [(ngModel)]="saving.savingPercentage" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_userSaveEconomy">User Save Economy</label>
            <select class="form-control" id="field_userSaveEconomy" name="userSaveEconomy" [(ngModel)]="saving.userSaveEconomyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userSaveEconomyOption.id" *ngFor="let userSaveEconomyOption of usersaveeconomies; trackBy: trackUserSaveEconomyById">{{userSaveEconomyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bankAccount">Bank Account</label>
            <select class="form-control" id="field_bankAccount" name="bankAccount" [(ngModel)]="saving.bankAccountId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
