<div>
    <h2>
        <span>Savings</span>
        <button class="btn btn-primary float-right jh-create-entity create-saving" [routerLink]="['/', { outlets: { popup: ['saving-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Saving
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="savings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateToFinish"><span>Date To Finish</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ammount"><span>Ammount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="savingPercentage"><span>Saving Percentage</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userSaveEconomyId"><span>User Save Economy</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bankAccountId"><span>Bank Account</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let saving of savings ;trackBy: trackId">
                <td><a [routerLink]="['../saving', saving.id ]">{{saving.id}}</a></td>
                <td>{{saving.description}}</td>
                <td>{{saving.dateToFinish | date:'medium'}}</td>
                <td>{{saving.ammount}}</td>
                <td>{{saving.savingPercentage}}</td>
                <td>
                    <div *ngIf="saving.userSaveEconomyId">
                        <a [routerLink]="['../user-save-economy', saving.userSaveEconomyId  ]" >{{saving.userSaveEconomyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="saving.bankAccountId">
                        <a [routerLink]="['../bank-account', saving.bankAccountId  ]" >{{saving.bankAccountId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../saving', saving.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'saving/'+ saving.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'saving/'+ saving.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="savings && savings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
