
<div *ngIf="saving">
    <h2><span>Saving</span> {{saving.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{saving.description}}</span>
        </dd>
        <dt><span>Date To Finish</span></dt>
        <dd>
            <span>{{saving.dateToFinish | date:'medium'}}</span>
        </dd>
        <dt><span>Ammount</span></dt>
        <dd>
            <span>{{saving.ammount}}</span>
        </dd>
        <dt><span>Saving Percentage</span></dt>
        <dd>
            <span>{{saving.savingPercentage}}</span>
        </dd>
        <dt><span>User Save Economy</span></dt>
        <dd>
            <div *ngIf="saving.userSaveEconomyId">
                <a [routerLink]="['/user-save-economy', saving.userSaveEconomyId]">{{saving.userSaveEconomyId}}</a>
            </div>
        </dd>
        <dt><span>Bank Account</span></dt>
        <dd>
            <div *ngIf="saving.bankAccountId">
                <a [routerLink]="['/bank-account', saving.bankAccountId]">{{saving.bankAccountId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'saving/'+ saving.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
