
<div *ngIf="binnacle">
    <h2><span>Binnacle</span> {{binnacle.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Event</span></dt>
        <dd>
            <span>{{binnacle.event}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            <span>{{binnacle.user}}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
            <span>{{binnacle.date | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'binnacle/'+ binnacle.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
