<div>
    <h2>
        <span>Element Crawlables</span>
        <button class="btn btn-primary float-right jh-create-entity create-element-crawlable" [routerLink]="['/', { outlets: { popup: ['element-crawlable-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Element Crawlable
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="elementCrawlables">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bankId"><span>Bank Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span>User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="url"><span>Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="wasProcessed"><span>Was Processed</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let elementCrawlable of elementCrawlables ;trackBy: trackId">
                <td><a [routerLink]="['../element-crawlable', elementCrawlable.id ]">{{elementCrawlable.id}}</a></td>
                <td>{{elementCrawlable.bankId}}</td>
                <td>{{elementCrawlable.userId}}</td>
                <td>{{elementCrawlable.url}}</td>
                <td>{{elementCrawlable.wasProcessed}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../element-crawlable', elementCrawlable.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'element-crawlable/'+ elementCrawlable.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'element-crawlable/'+ elementCrawlable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="elementCrawlables && elementCrawlables.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
