<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myElementCrawlableLabel">Create or edit a Element Crawlable</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!elementCrawlable.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="elementCrawlable.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bankId">Bank Id</label>
            <input type="number" class="form-control" name="bankId" id="field_bankId"
                [(ngModel)]="elementCrawlable.bankId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="elementCrawlable.userId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="elementCrawlable.url" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_wasProcessed">Was Processed</label>
            <input type="checkbox" class="form-control" name="wasProcessed" id="field_wasProcessed"
                [(ngModel)]="elementCrawlable.wasProcessed" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
