
<div *ngIf="elementCrawlable">
    <h2><span>Element Crawlable</span> {{elementCrawlable.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Bank Id</span></dt>
        <dd>
            <span>{{elementCrawlable.bankId}}</span>
        </dd>
        <dt><span>User Id</span></dt>
        <dd>
            <span>{{elementCrawlable.userId}}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
            <span>{{elementCrawlable.url}}</span>
        </dd>
        <dt><span>Was Processed</span></dt>
        <dd>
            <span>{{elementCrawlable.wasProcessed}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'element-crawlable/'+ elementCrawlable.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
