<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserSaveEconomyLabel">Create or edit a User Save Economy</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userSaveEconomy.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userSaveEconomy.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="userSaveEconomy.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="userSaveEconomy.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                [(ngModel)]="userSaveEconomy.telephone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_token">Token</label>
            <input type="text" class="form-control" name="token" id="field_token"
                [(ngModel)]="userSaveEconomy.token" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastVisitDate">Last Visit Date</label>
            <div class="d-flex">
                <input id="field_lastVisitDate" type="datetime-local" class="form-control" name="lastVisitDate" [(ngModel)]="userSaveEconomy.lastVisitDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_image">Image</label>
            <input type="text" class="form-control" name="image" id="field_image"
                [(ngModel)]="userSaveEconomy.image" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fact">Fact</label>
            <input type="text" class="form-control" name="fact" id="field_fact"
                [(ngModel)]="userSaveEconomy.fact" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userSaveEconomy.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
