<div>
    <h2>
        <span>User Save Economies</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-save-economy" [routerLink]="['/', { outlets: { popup: ['user-save-economy-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new User Save Economy
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userSaveEconomies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span>Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telephone"><span>Telephone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="token"><span>Token</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastVisitDate"><span>Last Visit Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image"><span>Image</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fact"><span>Fact</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span>User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userSaveEconomy of userSaveEconomies ;trackBy: trackId">
                <td><a [routerLink]="['../user-save-economy', userSaveEconomy.id ]">{{userSaveEconomy.id}}</a></td>
                <td>{{userSaveEconomy.name}}</td>
                <td>{{userSaveEconomy.lastName}}</td>
                <td>{{userSaveEconomy.telephone}}</td>
                <td>{{userSaveEconomy.token}}</td>
                <td>{{userSaveEconomy.lastVisitDate | date:'medium'}}</td>
                <td>{{userSaveEconomy.image}}</td>
                <td>{{userSaveEconomy.fact}}</td>
                <td>
                    {{userSaveEconomy.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-save-economy', userSaveEconomy.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-save-economy/'+ userSaveEconomy.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-save-economy/'+ userSaveEconomy.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userSaveEconomies && userSaveEconomies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
