
<div *ngIf="userSaveEconomy">
    <h2><span>User Save Economy</span> {{userSaveEconomy.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{userSaveEconomy.name}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{userSaveEconomy.lastName}}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
            <span>{{userSaveEconomy.telephone}}</span>
        </dd>
        <dt><span>Token</span></dt>
        <dd>
            <span>{{userSaveEconomy.token}}</span>
        </dd>
        <dt><span>Last Visit Date</span></dt>
        <dd>
            <span>{{userSaveEconomy.lastVisitDate | date:'medium'}}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
            <span>{{userSaveEconomy.image}}</span>
        </dd>
        <dt><span>Fact</span></dt>
        <dd>
            <span>{{userSaveEconomy.fact}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{userSaveEconomy.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-save-economy/'+ userSaveEconomy.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
