
<div *ngIf="bankingEntity">
    <h2><span>Banking Entity</span> {{bankingEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{bankingEntity.name}}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
            <span>{{bankingEntity.url}}</span>
        </dd>
        <dt><span>Logo</span></dt>
        <dd>
            <span>{{bankingEntity.logo}}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
            <span>{{bankingEntity.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'banking-entity/'+ bankingEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
