<div>
    <div class="card ">
        <div class="card-header ">
            <h4 class="card-title">{{currentBank.name}}</h4>
            <p class="card-category">{{currentBankAccount.bank}}</p>
        </div>
        <img class="card-body image img-fluid" [src]="currentBank.logo">
        <div class="card-footer">
            <hr>
            <div class="stats">
                <i class="fa fa-check"></i>Total en la cuenta: {{currentBankAccount.mont}}
            </div>
        </div>
        <div class="btn-sm" style="margin-left: 70px">
            <button class="btn btn-success btn-fill"
                    (click) = "showModalOfUpdate(currentBankAccount)">
                    <span class="fa fa-save"></span>
                Modificar
            </button>
            <button class="btn btn-danger btn-fill"
                    (click) = "showModalOfDelete(currentBankAccount)">
                    <span class="fa fa-remove"></span>
                Eliminar
            </button>
        </div>
    </div>
</div>
