
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Entidad bancaria</h4>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="formBankEntity" (ngSubmit)="bankEntity? onUpdate() : onSave()" >
                                <div class="row">
                                    <div class="col-md- pr-1">
                                        <div class="form-group">
                                            <label>Nombre entidad</label>
                                            <input type="text" class="form-control" formControlName="nameEntity" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 pr-1">
                                        <div class="form-group">
                                            <label>URL del sitio</label>
                                            <input type="text" class="form-control" formControlName="siteURL">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 pr-1">
                                        <div class="form-group">
                                            <label>Logo</label>
                                            <input type="text" class="form-control" formControlName="urlLogo">
                                            <div *ngIf="formBankEntity.get('urlLogo').dirty && formBankEntity.get('urlLogo').invalid">
                                                <small class="form-text text-danger" *ngIf="formBankEntity.get('urlLogo').errors.maxlength">
                                                   El URL de la imagen tiene muchos carácteres, verifique.
                                                </small>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                 <div [hidden]="!sucess">
                                    <div style="background:#87CB16; margin-bottom:10px; padding: 5px; border-radius: 6px;" >
                                        <p style="color: white" >{{bankEntity?  'Modificado satisfactoriamente' : 'Creado satisfactoriamente'}}</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                 <button type="submit" class="btn btn-danger btn-fill" (click)="onCancel()">
                                    <span class="fa fa-remove"></span>&nbsp;<span>Regresar</span>
                                </button>
                                    <button
                                        [hidden]="confirm"
                                        type="submit"
                                        class="btn btn-success btn-fill"
                                        [disabled]="!formBankEntity.valid"><span class="fa fa-save"></span>{{bankEntity?  'Modificar' : 'Crear'}}</button>

                                </div>
                            </form>
                        </div>
                    </div>
