<form name="AddMovementForm" id="move" style="margin-top: -20px !important; position: center">
        <div class="modal-header" style="margin-bottom: 20px">
            <h4 style="margin-left: 140px">Safe economy</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="closeMovement()">&times;</button>
        </div>
        <div class="row justify-content-center" style="margin-top: -20px !important">
            <form [formGroup]="addMovementForm" (ngSubmit)="movement? update() : onSubmit()" action="somefile.php">
                <div class="form-group">
                    <label for="selectTypeMovement">Tipo de movimiento:</label>
                    <select id="selectTypeMovement"
                            class="form-control mb-2 mr-sm-2 mb-sm-0"
                            style="width: 215px"
                            (change)="getSelectTypeSelectMovement(selectTypeSelectMovement.value)"
                            #selectTypeSelectMovement
                            class="form-control">
                        <option  *ngFor="let kindsMovemnt of kindsMovemnts"> {{kindsMovemnt}}</option>
                    </select>
                </div>
                        <div class="form-group">
                            <label for="descMove">Descripción:</label>
                            <input
                                placeholder="Compra de unos zapatos"
                                type="text"
                                id="descMove"
                                formControlName="descMove"
                                class="form-control">
                        </div>
                    <div action="/action_page.php">
                        <div class="form-group">
                            <label for="dateMove">Fecha: </label>
                            <input
                                type="date"
                                title="Por favor introducir el siguiente formato: día-mes-año"
                                id="dateMove"
                                value="{{today}}"
                                formControlName="dateMove"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amountMove">Monto:</label>
                        <input
                            placeholder="$30"
                            type="number"
                            id="amountMove"
                            formControlName="amountMove"
                            class="form-control">
                    </div>
                        <div class="form-group">
                            <label for="commentMove">Comentario:</label>
                            <textarea
                                id="commentMove"
                                formControlName="commentMove"
                                class="form-control"
                                rows="44" id="comment">
                        </textarea>
                        </div>
                <div [hidden]="!showMsj">
                    <div style="background:#B40404; margin-bottom:10px; padding: 5px; border-radius: 6px;" >
                        <p style="color: white" >La fecha debe de ser menor </p>
                            <p style="color: white" >o igual que la fecha de hoy!</p>
                    </div>
                </div>
                <div [hidden]="!confirm">
                    <div style="background:#87CB16; margin-bottom:10px; padding: 5px; border-radius: 6px;" >
                        <p style="color: white" >{{movement?  'Modificado satisfactoriamente' : 'Creado satisfactoriamente'}}</p>
                    </div>
                </div>
            </form>
        </div>

    <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-fill"  (click)="closeMovement()">
                <span class="fa fa-ban"></span>&nbsp;<span>Cancelar</span>
            </button>
            <button
                [hidden]="confirm"
                type="submit" (click)="movement? update() : onSubmit()"
                class="btn btn-success btn-fill"
                [disabled]="!addMovementForm.valid"><span class="fa fa-save"></span>&nbsp;{{movement?  'Modificar' : 'Crear'}}
            </button>
        </div>
</form>


