/*.modal.show .modal-dialog {*/
    /*transform: initial;*/
/*}*/
/*.hide{*/
    /*visibility: hidden;*/
/*}*/
/*body{*/
    /*top:-100px!important;*/
/*}*/

#move{
    top: -100px!important;
}
input:invalid{
    border-color: red;
}

