<div *ngIf="!ReadyToShow">
    <div class='fullscreenDiv'>
        <div class="center">
            <jhi-loading></jhi-loading>
        </div>
    </div>
</div>
<div *ngIf="ReadyToShow">
    <div style="margin-bottom: 10px" class="card-header">
        <h4 *ngIf="currentUser" class="card-title">Cuentas bancarias</h4>
    </div>
    <div class="row">
    <div *ngFor="let bankAccount of listOfBankAccounts" class="bankCard col-md-4">
        <jhi-bank-account-detail [currentBankAccount]="bankAccount"
                                 [currentBank]="getLogoIdBankByAccount(bankAccount)"></jhi-bank-account-detail>
    </div>
    <div class="bankCard col-md-4">
        <div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Crear una nueva cuenta</h4>
                </div>
                <img class="card-body image img-fluid" src="../../../../../../content/images/plus.png"
                     (click)="createBankAccount()">
            </div>
        </div>
    </div>
    </div>
</div>
