<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBankAccountLabel">Create or edit a Bank Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bankAccount.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bankAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="field_userName"
                [(ngModel)]="bankAccount.userName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="bankAccount.password" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_token">Token</label>
            <input type="text" class="form-control" name="token" id="field_token"
                [(ngModel)]="bankAccount.token" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_mont">Mont</label>
            <input type="number" class="form-control" name="mont" id="field_mont"
                [(ngModel)]="bankAccount.mont" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_budget">Budget</label>
            <input type="number" class="form-control" name="budget" id="field_budget"
                [(ngModel)]="bankAccount.budget" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bank">Bank</label>
            <input type="text" class="form-control" name="bank" id="field_bank"
                [(ngModel)]="bankAccount.bank" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="bankAccount.active" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_typeCoin">Type Coin</label>
            <input type="text" class="form-control" name="typeCoin" id="field_typeCoin"
                [(ngModel)]="bankAccount.typeCoin" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_userSaveEconomy">User Save Economy</label>
            <select class="form-control" id="field_userSaveEconomy" name="userSaveEconomy" [(ngModel)]="bankAccount.userSaveEconomyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userSaveEconomyOption.id" *ngFor="let userSaveEconomyOption of usersaveeconomies; trackBy: trackUserSaveEconomyById">{{userSaveEconomyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bankEntity">Bank Entity</label>
            <select class="form-control" id="field_bankEntity" name="bankEntity" [(ngModel)]="bankAccount.bankEntityId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bankingEntityOption.id" *ngFor="let bankingEntityOption of bankingentities; trackBy: trackBankingEntityById">{{bankingEntityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
