
<div *ngIf="bankAccount">
    <h2><span>Bank Account</span> {{bankAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>User Name</span></dt>
        <dd>
            <span>{{bankAccount.userName}}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
            <span>{{bankAccount.password}}</span>
        </dd>
        <dt><span>Token</span></dt>
        <dd>
            <span>{{bankAccount.token}}</span>
        </dd>
        <dt><span>Mont</span></dt>
        <dd>
            <span>{{bankAccount.mont}}</span>
        </dd>
        <dt><span>Budget</span></dt>
        <dd>
            <span>{{bankAccount.budget}}</span>
        </dd>
        <dt><span>Bank</span></dt>
        <dd>
            <span>{{bankAccount.bank}}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
            <span>{{bankAccount.active}}</span>
        </dd>
        <dt><span>Type Coin</span></dt>
        <dd>
            <span>{{bankAccount.typeCoin}}</span>
        </dd>
        <dt><span>User Save Economy</span></dt>
        <dd>
            <div *ngIf="bankAccount.userSaveEconomyId">
                <a [routerLink]="['/user-save-economy', bankAccount.userSaveEconomyId]">{{bankAccount.userSaveEconomyId}}</a>
            </div>
        </dd>
        <dt><span>Bank Entity</span></dt>
        <dd>
            <div *ngIf="bankAccount.bankEntityId">
                <a [routerLink]="['/banking-entity', bankAccount.bankEntityId]">{{bankAccount.bankEntityId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bank-account/'+ bankAccount.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
