<div>
    <h2>
        <span>Bank Accounts</span>
        <button class="btn btn-primary float-right jh-create-entity create-bank-account" [routerLink]="['/', { outlets: { popup: ['bank-account-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Bank Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bankAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userName"><span>User Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="password"><span>Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="token"><span>Token</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mont"><span>Mont</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="budget"><span>Budget</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bank"><span>Bank</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="active"><span>Active</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="typeCoin"><span>Type Coin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userSaveEconomyId"><span>User Save Economy</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bankEntityId"><span>Bank Entity</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankAccount of bankAccounts ;trackBy: trackId">
                <td><a [routerLink]="['../bank-account', bankAccount.id ]">{{bankAccount.id}}</a></td>
                <td>{{bankAccount.userName}}</td>
                <td>{{bankAccount.password}}</td>
                <td>{{bankAccount.token}}</td>
                <td>{{bankAccount.mont}}</td>
                <td>{{bankAccount.budget}}</td>
                <td>{{bankAccount.bank}}</td>
                <td>{{bankAccount.active}}</td>
                <td>{{bankAccount.typeCoin}}</td>
                <td>
                    <div *ngIf="bankAccount.userSaveEconomyId">
                        <a [routerLink]="['../user-save-economy', bankAccount.userSaveEconomyId  ]" >{{bankAccount.userSaveEconomyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bankAccount.bankEntityId">
                        <a [routerLink]="['../banking-entity', bankAccount.bankEntityId  ]" >{{bankAccount.bankEntityId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bank-account', bankAccount.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-account/'+ bankAccount.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-account/'+ bankAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bankAccounts && bankAccounts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
