
<div *ngIf="loan">
    <h2><span>Loan</span> {{loan.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{loan.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{loan.description}}</span>
        </dd>
        <dt><span>Rate</span></dt>
        <dd>
            <span>{{loan.rate}}</span>
        </dd>
        <dt><span>Is Monthly</span></dt>
        <dd>
            <span>{{loan.isMonthly}}</span>
        </dd>
        <dt><span>Is Paid</span></dt>
        <dd>
            <span>{{loan.isPaid}}</span>
        </dd>
        <dt><span>Finish Date</span></dt>
        <dd>
            <span>{{loan.finishDate | date:'medium'}}</span>
        </dd>
        <dt><span>User Save Economy</span></dt>
        <dd>
            <div *ngIf="loan.userSaveEconomyId">
                <a [routerLink]="['/user-save-economy', loan.userSaveEconomyId]">{{loan.userSaveEconomyId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'loan/'+ loan.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
