<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLoanLabel">Create or edit a Loan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!loan.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="loan.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="loan.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="loan.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rate">Rate</label>
            <input type="text" class="form-control" name="rate" id="field_rate"
                [(ngModel)]="loan.rate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isMonthly">Is Monthly</label>
            <input type="checkbox" class="form-control" name="isMonthly" id="field_isMonthly"
                [(ngModel)]="loan.isMonthly" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isPaid">Is Paid</label>
            <input type="checkbox" class="form-control" name="isPaid" id="field_isPaid"
                [(ngModel)]="loan.isPaid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_finishDate">Finish Date</label>
            <div class="d-flex">
                <input id="field_finishDate" type="datetime-local" class="form-control" name="finishDate" [(ngModel)]="loan.finishDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_userSaveEconomy">User Save Economy</label>
            <select class="form-control" id="field_userSaveEconomy" name="userSaveEconomy" [(ngModel)]="loan.userSaveEconomyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userSaveEconomyOption.id" *ngFor="let userSaveEconomyOption of usersaveeconomies; trackBy: trackUserSaveEconomyById">{{userSaveEconomyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
