<div>
    <h2>
        <span>Loans</span>
        <button class="btn btn-primary float-right jh-create-entity create-loan" [routerLink]="['/', { outlets: { popup: ['loan-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Loan
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="loans">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rate"><span>Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isMonthly"><span>Is Monthly</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isPaid"><span>Is Paid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="finishDate"><span>Finish Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userSaveEconomyId"><span>User Save Economy</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let loan of loans ;trackBy: trackId">
                <td><a [routerLink]="['../loan', loan.id ]">{{loan.id}}</a></td>
                <td>{{loan.name}}</td>
                <td>{{loan.description}}</td>
                <td>{{loan.rate}}</td>
                <td>{{loan.isMonthly}}</td>
                <td>{{loan.isPaid}}</td>
                <td>{{loan.finishDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="loan.userSaveEconomyId">
                        <a [routerLink]="['../user-save-economy', loan.userSaveEconomyId  ]" >{{loan.userSaveEconomyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../loan', loan.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'loan/'+ loan.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'loan/'+ loan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="loans && loans.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
