<div>
    <div style="border-color: #f93e49; border-radius: 10px; border-style: solid; margin: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 style="text-align: center">Restablecer tu contraseña</h3>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Correo electrónico no registrado</strong> Por favor revise e intenta de nuevo.
            </div>

            <div  style="text-align: center; width: 100%" class="alert alert-warning" *ngIf="!success">
                <p>Correo electronico con el cual se encuentra registrado</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Consulte su correo electrónico para obtener detalles sobre cómo restablecer su contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Correo electrónico:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.required">
                            El correo electrónico es requerido
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.email">
                           El correo electrónico es invalido
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.minlength">
                            Su correo electrónico debe tener al menos 5 caracteres
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.maxlength">
                            Su correo electrónico no puede tener más de 100 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" style="margin-bottom: 30px" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary btn-fill">Cambiar contraseña</button>
            </form>

        </div>
    </div>
    </div>
</div>
