<div *ngIf="!savings || !banks || !listOfBanks">
    <div class='fullscreenDiv'>
        <div class="center"><jhi-loading></jhi-loading></div>
    </div>
</div>
<div *ngIf="savings && banks && listOfBanks">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf=" banks.length !== 0 && listOfBanks.length !==0">
                <div class="card-header" style="margin-bottom: 10px">
                <h4 class="card-title">Ahorros</h4>
                </div>
                    <div class="row">
                        <div *ngFor="let save of savings" class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{{save.description}}</h4>
                                    <h4 class="card-category">{{getBankName(save.bankAccountId).bank}}</h4>

                                </div>
                                <img class="card-body image img-fluid" [src]="getBankImage(save)">
                                <div class="card-footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-check"></i>Monto : {{save.ammount}}
                                    </div>
                                    <br>
                                    <div class="stats">
                                        <i class="fa fa-check"></i>Fecha fin : {{save.dateToFinish | date}}
                                    </div>
                                </div>
                                <div class="btn-sm" style="margin-left: 70px">
                                     <button class="btn btn-success btn-fill"
                                    (click)="updateSaving(save)"><span class="fa fa-save"></span>Modificar</button>
                                    <button class="btn btn-danger btn-fill"
                                    (click)="toRemove(save)"><span class="fa fa-remove"></span>Eliminar</button>
                                </div>
                            </div>
                        </div>
                        <div class="bankCard col-md-4">
                                <div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Crear un nuevo Ahorro</h4>
                                        </div>
                                        <img class="card-body image img-fluid" src="../../../../../content/images/plus.png"
                                             (click)="openSavingModal()">
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>
                </div>
            </div>
        </div>

</div>
