<form name="deleteForm">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar la Desactivacion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
        <p>Esta seguro de eliminar el ahorro? {{savingToDel.description}} </p>
    </div>
    <div class="modal-footer" *ngIf="!loading">
        <button type="button" class="btn btn-secondary btn-fill"  (click)="close()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" class="btn btn-danger btn-fill"
        [disabled]="success"
        (click)="onDelete()">
            <span class="fa fa-remove"></span>&nbsp;<span>Eliminar</span>
        </button>
    </div>
    <div *ngIf="loading">
            <div><jhi-loading></jhi-loading></div>
    </div>
</form>

