<form name="AddMovementForm" id="move" style="margin-top: -20px !important; position: center">
    <div class="modal-header" style="margin-bottom: 20px">
        <h4 style="margin-left: 140px">Safe economy</h4>

        <div class="alert alert-danger" *ngIf="authenticationError">
            <strong>Error!</strong> Nombre de usuario o contraseña incorrecto.
        </div>
        <div class="alert alert-success" *ngIf="tokenRecivedMesaje">
            <strong>OK!</strong> Hemos enviado una clave a tu correo electronico.
        </div>
        <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="close()"><span
            aria-hidden="true">x</span>
        </button>
    </div>
    <div class="row justify-content-center" style="margin-top: -20px !important">
        <div>
            <div *ngIf="!hasToken">
                <form [formGroup]="logInForm">
                    <div class="form-group">
                        <label for="userName">Nombre de usuario:</label>
                        <input
                            placeholder="Nombre de usuario"
                            type="text"
                            id="username"
                            formControlName="userName"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña :</label>
                        <input
                            placeholder=""
                            type="password"
                            id="password"
                            formControlName="password"
                            class="form-control">
                    </div>
                </form>
                <a style="color: #4285f4 !important; font-size: small" (click)="requestResetPassword()">¿Has olvidado tu
                    contraseña?</a>
            </div>
            <div *ngIf="hasToken">
                <form [formGroup]="tokenForm">
                    <div class="form-group">
                        <label for="password">Clave de seguridad:</label>
                        <input
                            placeholder=""
                            type="text"
                            id="password"
                            formControlName="token"
                            class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="loading">
        <jhi-loading></jhi-loading>
    </div>
    <div *ngIf="!loading">
        <div class="modal-footer" *ngIf="!hasToken">
            <button type="submit" class="btn btn-success btn-fill" (click)="goToSingIn()">
                <span>No tengo cuenta</span>
            </button>
            <button type="button" class="btn btn-primary btn-fill" (click)="getToken()">
                <span>Iniciar sesión</span>
            </button>
        </div>
        <div *ngIf="hasToken" class="modal-footer">
            <button type="submit" class="btn btn-success btn-fill" (click)="getToken()">
                <span>Reenviar Clave</span>
            </button>
            <button type="button" class="btn btn-primary btn-fill" (click)="validateToken()">
                <span>Continuar</span>
            </button>
         </div>
        </div>

    </div>
</form>


