<div *ngIf="!startGraphicExpenses && !startGraphicIncomes && !startGraphicSavings && !movementsList">
    <div class='fullscreenDiv'>
        <div class="center"><jhi-loading></jhi-loading></div>
    </div>
</div>
<div style="margin-bottom: 9px" class="card-header">
    <h4 *ngIf="currentUser" class="card-title" style="display:inline-block" >Bienvenido {{currentUser.name}} a Safe Economy</h4>
    <h4 *ngIf="typecoin" style="display:inline-block; margin-left: 75%;" class="card-title">Tipo de cambio del día: {{typecoin}}</h4>
</div>

<div class="row">
        <div class="col-lg-6">
            <div *ngIf="startGraphicExpenses">
                <div *ngIf="graphicExpensesLabels">
                <jhi-bar-chart-expenses [arrayLabels]="graphicExpensesLabels" [arrayNumbers]="graphicExpensesNumbers" [type]="'Gastos'"></jhi-bar-chart-expenses>
                </div>
        </div>
        </div>
        <div class="col-lg-6">
            <div *ngIf="startGraphicIncomes">
                    <div *ngIf="graphicIncomesLabels">
                        <jhi-bar-chart-expenses [arrayLabels]="graphicIncomesLabels" [arrayNumbers]="graphicIncomesNumbers" [type]="'Ingresos'"></jhi-bar-chart-expenses>
                    </div>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div *ngIf="startGraphicSavings">
            <div *ngIf="graphicSavingLabels">
                <jhi-bar-chart-saving [arrayLabels]="graphicSavingLabels" [arrayNumbers]="graphicSavingNumbers" [type]="'Ahorros'"></jhi-bar-chart-saving>
            </div>
        </div>
    </div>
    <div class="col-md-6" >
        <div class="card strpied-tabled-with-hover" *ngIf="movementsList">
            <div class="card-header">
                <h4 class="card-title">Movimientos cuenta Safe Economy</h4>
            </div>
            <div class="card-body table-full-width table-responsive" >
                <table id="table" class="table table-hover table-striped" *ngIf="movementsList.length !== 0">
                    <thead>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Comentario</th>
                    </thead>
                    <tbody >
                    <tr  *ngFor="let movement of movementsList" >

                        <td>{{movement.kindOfMovement}}</td>
                        <td>{{movement.description}}</td>
                        <td>{{movement.dateOfMovement}}</td>
                        <td>{{movement.acreditationAmmount}}</td>
                        <td>{{movement.comment}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


