<div *ngIf="!movementsForBarChartIncome && !movementsForBarChartExpensive && !movements">
    <div class='fullscreenDiv'>
        <div class="center">
            <jhi-loading></jhi-loading>
        </div>
    </div>
</div>
<div *ngIf="movementsForBarChartIncome && movementsForBarChartExpensive && movements">
    <div class="container">
        <div class="jumbotron">
            <h4 *ngIf="user"> Bienvenid@ {{user.name}} a sus ingresos, gastos y pagos</h4>
            <p>
                En esta sección vamos a ver los gastos e ingresos que se han hecho tanto en efectivo (cuanta safe
                economy)
                como en tarjeta, así como los pagos con que la persona cuenta cada mes. Usted podrá
                crear-modificar-elimina:
                ingresos y gastos que se realizaron <strong>únicamente en efectivo</strong>, esto quiere decir que ese
                ingreso o gasto nunca
                llego a estar en ninguna de sus cuentas bancarias, así como también los pagos (que se hacen cada mes),
                estos se podrán agregar a los gastos de sus cuentas para llevar un control más eficaz sobre ellos.
            </p>
        </div>
        <div style="margin-bottom: 10px; margin-left: 30px; margin-top: 20px">
            <h4 class="card-subtitle">Pagos de las cuentas</h4>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header">
                            <div class="form-inline">
                                <h4 class="card-title">Lista de pagos</h4>
                                <button style="margin-left: 20px" type="button" class="btn btn-success btn-fill"
                                        data-toggle="modal"
                                        data-target="#exampleModal">
                                    <span class="fa fa-save"></span>&nbsp;Crear pago
                                </button>
                            </div>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table id="tablePayment" class="table table-hover table-striped">
                                <thead>
                                <th>Tipo</th>
                                <th>Día de pago</th>
                                <th>Moneda</th>
                                <th>Monto</th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Netflix</td>
                                    <td>31/07/2018</td>
                                    <td>$</td>
                                    <td>12</td>
                                    <td>
                                        <button class="btn btn-danger btn-fill">
                                            <span class="fa fa-remove"></span>&nbsp; Eiminar
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-fill">
                                            <span class="fa fa-edit"></span>&nbsp; Modificar
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 10px; margin-left: 30px; margin-top: 20px">
            <h4 class="card-subtitle">Movimientos de las cuentas</h4>
        </div>
        <div class="row">
            <div style=" margin-bottom: 10px; margin-top: 10px">
                <div class="form-inline" [formGroup]="addTableForm">
                    <div class="form-group">
                        <label style="margin-right: 5px" for="dateStart">Fecha inicio:</label>
                        <input
                            type="Date"
                            id="dateStart"
                            value="{{lastMonth}}"
                            formControlName="dateStart"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label style="margin-right: 5px; margin-left: 5px" for="dateLast">Fecha fin:</label>
                        <input
                            type="Date"
                            id="dateLast"
                            value="{{today}}"
                            formControlName="dateLast"
                            class="form-control">
                    </div>
                    <button style="height: 40px" type="button" class="btn btn-info btn-fill"
                            (click)="getFilterByFecha(select.value)">Filtrar
                    </button>
                    <label style="margin-left: 5px; margin-right: 5px">Tipo de movimiento:</label>
                    <select id="selectId"
                            class="form-control mb-2 mr-sm-2 mb-sm-0"
                            style="width: 115px"
                            (change)="getSelect(select.value)"
                            #select>
                        <option>Sin filtro</option>
                        <option>Gastos</option>
                        <option>Ingresos</option>
                        <option>Pagos</option>
                    </select>
                    <label style="margin-left: 5px; margin-right: 5px">Tipo de pago:</label>
                    <select id="selectPay"
                            class="form-control mb-2 mr-sm-2 mb-sm-0"
                            style="width: 115px"
                            #selectPay>
                        <option>Netflix</option>
                        <option>Luz</option>
                        <option>Agua</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" *ngIf="movements">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title">Lista de Movimientos</h4>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table id="table" class="table table-hover table-striped" *ngIf="movements.length !== 0">
                                <thead>
                                <th>Tipo</th>
                                <th>Descripción</th>
                                <th>Fecha</th>
                                <th>Monto</th>
                                <th>Cuenta asociada</th>
                                </thead>
                                <tbody >
                                <tr *ngFor="let movement of movements">
                                    <td>{{movement.kindOfMovement}}</td>
                                    <td>{{movement.description}}</td>
                                    <td>{{movement.dateOfMovement}}</td>
                                    <td>{{movement.acreditationAmmount}}</td>
                                    <td *ngIf="movement.id">
                                        {{getBankByIdMovements(movement.bankAccountId)}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div *ngIf="movementsForBarChartIncome">
                    <jhi-pie-chart [array]="movementsForBarChartIncome" [type]="'Ingreso'"></jhi-pie-chart>
                </div>
            </div>
            <div class="col-lg-6">
                <div *ngIf="movementsForBarChartExpensive">
                    <jhi-bar-chart [array]="movementsForBarChartExpensive" [type]="'Gasto'"></jhi-bar-chart>
                </div>
            </div>
        </div>
    </div>
</div>
