<div class="content">
    <div class="container-fluid">
        <div *ngIf="user && account">
            <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Información Personal</h4>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                        <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label>Nombre de usuario</label>
                                            <input type="text" class="form-control" placeholder="Username" value="michael23"
                                                   [(ngModel)]="account.login" disabled="">

                                        </div>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label for="email">Correo Electonico</label>
                                            <input type="email" id="email" class="form-control" disabled=""  [(ngModel)]="account.email"placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label for="email">Fecha de ingreso</label>
                                            <input type="text" id="date" class="form-control" disabled=""  [(ngModel)]="account.createdDate"placeholder="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 pr-1">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Company" [(ngModel)]="user.name">
                                        </div>
                                    </div>
                                    <div class="col-md-3 pr-1">
                                        <div class="form-group">
                                            <label>Número de Teléfono</label>
                                            <input type="number" class="form-control" [(ngModel)]="user.telephone">
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-1">
                                        <div class="form-group">
                                            <label>Apellidos</label>
                                            <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label for="email">Imagen URL</label>
                                            <input type="text" id="imageURL" class="form-control"  [(ngModel)]="user.image"placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-fill"
                                (click)="onDeactivate()"> <span class="fa fa-remove"></span>Desactivar Cuenta</button>
                                <button style="float: right" type="button" class="btn btn-success btn-fill"
                                        (click)="onUpdate()" [disabled]="originalUser.image === user.image &&
                                    originalUser.name === user.name &&
                                    originalUser.lastName === user.lastName &&
                                    originalUser.telephone === user.telephone"><span class="fa fa-save"></span>Modificar Perfil</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-user">
                            <div class="card-image">
                            </div>
                            <div class="card-body">
                                <div class="author">
                                        <img [src]="user.image" alt="..." class="avatar border-gray">
                                        <h5 class="title">{{user.name}} {{user.lastName}}</h5>
                                    <p class="description">
                                       {{account.login}}
                                    </p>
                                </div>
                                <p class="description text-center">
                                    <!--todo add user fact to db and add it here-->
                                </p>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
        </div>
        <div *ngIf="!user || !account">
            <div class='fullscreenDiv'>
                <div class="center"><jhi-loading></jhi-loading></div>
            </div>
        </div>
    </div>
</div>
