<div class="wrapper">
    <div class="sidebar" data-color="red">
        <jhi-navbar-safe-economy></jhi-navbar-safe-economy>
        <!--<div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>-->
    </div>
    <div class="main-panel">
        <jhi-safe-economy-dashboard></jhi-safe-economy-dashboard>
    </div>
</div>
