<form name="deleteForm" (ngSubmit)="confirmDelete()">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar la Desactivacion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>
    <div class="modal-body">
        <p>Esta seguro de Desacrivar su cuenta? </p>
    </div>
    <div class="modal-footer" *ngIf="!loading">
        <button type="button" class="btn btn-secondary btn-fill"  (click)="cancel()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" class="btn btn-danger btn-fill" (click)="onDeactivate()">
            <span class="fa fa-remove"></span>&nbsp;<span>Desactivar</span>
        </button>
    </div>
    <div  *ngIf="loading">
         <jhi-loading></jhi-loading>
    </div>
</form>

