<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBankMovementPaymentLabel">Create or edit a Bank Movement Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bankMovementPayment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bankMovementPayment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_kindOfMovement">Kind Of Movement</label>
            <input type="text" class="form-control" name="kindOfMovement" id="field_kindOfMovement"
                [(ngModel)]="bankMovementPayment.kindOfMovement" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateOfMovement">Date Of Movement</label>
            <div class="d-flex">
                <input id="field_dateOfMovement" type="datetime-local" class="form-control" name="dateOfMovement" [(ngModel)]="bankMovementPayment.dateOfMovement"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="bankMovementPayment.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_acreditationAmmount">Acreditation Ammount</label>
            <input type="number" class="form-control" name="acreditationAmmount" id="field_acreditationAmmount"
                [(ngModel)]="bankMovementPayment.acreditationAmmount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isPaid">Is Paid</label>
            <input type="checkbox" class="form-control" name="isPaid" id="field_isPaid"
                [(ngModel)]="bankMovementPayment.isPaid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="bankMovementPayment.comment" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_priority">Priority</label>
            <input type="number" class="form-control" name="priority" id="field_priority"
                [(ngModel)]="bankMovementPayment.priority" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_userSaveEconomy">User Save Economy</label>
            <select class="form-control" id="field_userSaveEconomy" name="userSaveEconomy" [(ngModel)]="bankMovementPayment.userSaveEconomyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userSaveEconomyOption.id" *ngFor="let userSaveEconomyOption of usersaveeconomies; trackBy: trackUserSaveEconomyById">{{userSaveEconomyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bankAccount">Bank Account</label>
            <select class="form-control" id="field_bankAccount" name="bankAccount" [(ngModel)]="bankMovementPayment.bankAccountId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
