<div>
    <h2>
        <span>Bank Movement Payments</span>
        <button class="btn btn-primary float-right jh-create-entity create-bank-movement-payment" [routerLink]="['/', { outlets: { popup: ['bank-movement-payment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Bank Movement Payment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bankMovementPayments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="kindOfMovement"><span>Kind Of Movement</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateOfMovement"><span>Date Of Movement</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="acreditationAmmount"><span>Acreditation Ammount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isPaid"><span>Is Paid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comment"><span>Comment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="priority"><span>Priority</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userSaveEconomyId"><span>User Save Economy</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bankAccountId"><span>Bank Account</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankMovementPayment of bankMovementPayments ;trackBy: trackId">
                <td><a [routerLink]="['../bank-movement-payment', bankMovementPayment.id ]">{{bankMovementPayment.id}}</a></td>
                <td>{{bankMovementPayment.kindOfMovement}}</td>
                <td>{{bankMovementPayment.dateOfMovement | date:'medium'}}</td>
                <td>{{bankMovementPayment.description}}</td>
                <td>{{bankMovementPayment.acreditationAmmount}}</td>
                <td>{{bankMovementPayment.isPaid}}</td>
                <td>{{bankMovementPayment.comment}}</td>
                <td>{{bankMovementPayment.priority}}</td>
                <td>
                    <div *ngIf="bankMovementPayment.userSaveEconomyId">
                        <a [routerLink]="['../user-save-economy', bankMovementPayment.userSaveEconomyId  ]" >{{bankMovementPayment.userSaveEconomyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bankMovementPayment.bankAccountId">
                        <a [routerLink]="['../bank-account', bankMovementPayment.bankAccountId  ]" >{{bankMovementPayment.bankAccountId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bank-movement-payment', bankMovementPayment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-movement-payment/'+ bankMovementPayment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-movement-payment/'+ bankMovementPayment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bankMovementPayments && bankMovementPayments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
