
<div *ngIf="bankMovementPayment">
    <h2><span>Bank Movement Payment</span> {{bankMovementPayment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Kind Of Movement</span></dt>
        <dd>
            <span>{{bankMovementPayment.kindOfMovement}}</span>
        </dd>
        <dt><span>Date Of Movement</span></dt>
        <dd>
            <span>{{bankMovementPayment.dateOfMovement | date:'medium'}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{bankMovementPayment.description}}</span>
        </dd>
        <dt><span>Acreditation Ammount</span></dt>
        <dd>
            <span>{{bankMovementPayment.acreditationAmmount}}</span>
        </dd>
        <dt><span>Is Paid</span></dt>
        <dd>
            <span>{{bankMovementPayment.isPaid}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{bankMovementPayment.comment}}</span>
        </dd>
        <dt><span>Priority</span></dt>
        <dd>
            <span>{{bankMovementPayment.priority}}</span>
        </dd>
        <dt><span>User Save Economy</span></dt>
        <dd>
            <div *ngIf="bankMovementPayment.userSaveEconomyId">
                <a [routerLink]="['/user-save-economy', bankMovementPayment.userSaveEconomyId]">{{bankMovementPayment.userSaveEconomyId}}</a>
            </div>
        </dd>
        <dt><span>Bank Account</span></dt>
        <dd>
            <div *ngIf="bankMovementPayment.bankAccountId">
                <a [routerLink]="['/bank-account', bankMovementPayment.bankAccountId]">{{bankMovementPayment.bankAccountId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bank-movement-payment/'+ bankMovementPayment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
