<form name="AddMovementForm" id="move" style="margin-top: -20px !important; position: center">
    <div *ngIf="loading">
        <div class='fullscreenDiv'>
            <div class="center"><jhi-loading></jhi-loading></div>
        </div>
    </div>

    <div class="modal-header" style="margin-bottom: 20px" >
        <h4 style="margin-left: 140px">Safe economy</h4>
        <div class="alert alert-danger" *ngIf="error">
            <strong>Error!</strong> Porfavor intentelo mas tarde.
        </div>
        <div class="alert alert-success" *ngIf="success">
            <strong>Perfecto</strong> Se ha {{saving.id? 'modificado' : 'creado'}} el ahorro exitosamente.
        </div>
        <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="close()"><span
            aria-hidden="true">x</span>
        </button>
    </div>
    <div class="row justify-content-center" style="margin-top: -20px !important" *ngIf="!loading">
        <form>
            <div class="form-group">
                <label for="description">Descripción</label>
                <input
                    type="text"
                    [(ngModel)]="saving.description"
                    name="description"
                    id="description"
                    class="form-control"
                    required>
            </div>
            <div class="form-group">
                <label for="amount">Ahorro</label>
                <input
                    type="number"
                    [(ngModel)]="saving.ammount"
                    name="amount" id="amount"
                    class="form-control"
                    required>
            </div>
            <div class="form-group">
                <label for="amount">Cuenta Bancaria</label>
               <select id="selectBank"
                       style="width: 215px"
                       (change)="getSelectBank(selectBank.value)"
                       #selectBank
                       class="form-control"
                       required>
                   <option *ngFor="let account of listBank"
                   [selected]="account.id == saving.bankAccountId"
                   value='{{account.id}}'>{{account.bank}}</option>
               </select>
            </div>
            <div class="form-group">
                <label for="savingPercentage">Porcentaje de ahorro: {{saving.savingPercentage}}%</label>
                <input
                    type="range" id="savingPercentage"
                    [(ngModel)]="saving.savingPercentage"
                    name="savingPercentage"
                    class="form-control-range"
                    required>
            </div>
            <div>
                <h5 *ngIf="saving.savingPercentage">Ahorro por mes:{{getAmountPerMonth()}}</h5>
                   <h5 *ngIf="!saving.savingPercentage">Porfavor Ingrese un porcentaje de ahorro</h5>
            </div>
            <div>
                <h5 *ngIf="saving.ammount && saving.savingPercentage">Fecha Final: {{getFinalDate()}}</h5>
                <h5 *ngIf="!saving.ammount">Porfavor Ingrese un ahorro</h5>
            </div>
        </form>
    </div>
    <div *ngIf="!creatingUpdating">
        <div class="modal-footer">
             <button type="button" class="btn btn-secondary btn-fill" (click)="close()">
                <span class="fa fa-ban"></span>&nbsp;Cancelar
            </button>
            <button type="button" class="btn btn-success btn-fill" (click)="createSaving()"
            [disabled]="!canCreateUpdate()">
                <span class="fa fa-save"></span>{{saving.id? 'Modificar' : 'Crear'}}
            </button>
         </div>
    </div>
    <div *ngIf="creatingUpdating">
            <div><jhi-loading></jhi-loading></div>
    </div>
</form>


