<form name="addBankAccountForm" id="account" style="margin-top: -20px !important; position: center">
    <div class="modal-header" style="margin-bottom: 20px">
        <h4 style="margin-left: 140px">Safe economy</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="closeModalDetails()">&times;
        </button>
    </div>
    <div class="row justify-content-center" style="margin-top: -20px !important">
        <form [formGroup]="addBankAccountForm" (ngSubmit)="account? updateBankAccount() : createBankAccount()"
              action="somefile.php">
            <div class="form-group">
                <label for="bankName">Nombre de usuario:</label>
                <input
                    placeholder="Nombre de usuario"
                    type="text"
                    id="bankName"
                    formControlName="nameBankAccount"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="bankPass">Contraseña:</label>
                <input
                    placeholder="Contraseña de la cuenta"
                    type="password"
                    id="bankPass"
                    formControlName="bankPass"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="bankBudget">Presupuesto:</label>
                <input
                    placeholder="Presupuesto para la cuenta"
                    type="number"
                    id="bankBudget"
                    formControlName="bankBudget"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="bankDesc">Descripción:</label>
                <input
                    placeholder="Descripción de la cuenta"
                    type="text"
                    id="bankDesc"
                    formControlName="bankDesc"
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="selectBank">Banco:</label>
                <select id="selectBank"
                        style="width: 215px"
                        (change)="getSelectBank(selectBank.value)"
                        #selectBank
                        class="form-control">
                    <option *ngFor="let account of listBank" value='{{account.id}}'>{{account.name}}</option>
                </select>
            </div>
            <div [hidden]="!confirmAccount">
                <div style="background:#87CB16; margin-bottom:10px; padding: 5px; border-radius: 6px;">
                    <p style="color: white">{{account? 'Modificado satisfactoriamente' : 'Creado satisfactoriamente'}}</p>
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-fill" (click)="closeModalDetails()">
                    <span class="fa fa-ban"></span>&nbsp;Cancelar
                </button>
                <button
                    [hidden]="confirmAccount"
                    type="submit"
                    class="btn btn-success btn-fill"
                    [disabled]="!addBankAccountForm.valid" (click)="account? updateBankAccount() : createBankAccount()">
                    <span class="fa fa-save"></span>{{account? 'Modificar' : 'Crear'}} cuenta
                </button>
            </div>
</form>
