<nav class="navbar navbar-dark navbar-expand-md jh-navbar" style="background-color: #f93e49">
    <div class="navbar-nav">
        <img src="../../../../content/images/logo-safe-economy.png" width="5%" routerLink="/"/>
        <a class="nav-item nav-link active" routerLink="/">Safe Economy <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/how-it-works">¿Cómo funciona?</a>
        <div class="nav-item nav-link" style="position: absolute; margin-left: 88%;">
            <jhi-login></jhi-login>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
