<div style="margin-bottom: 10px" class="card-header">
    <h4 class="card-title">Pagos</h4>
</div>
<div *ngIf="!payments && !movementsForBarChartPay">
    <div class='fullscreenDiv'>
        <div class="center"><jhi-loading></jhi-loading></div>
    </div>
</div>
<div *ngIf="payments && movementsForBarChartPay">
<div class="row">
    <div class="col-lg-6" style="margin-left: 25%">
        <div *ngIf="movementsForBarChartPay">
            <jhi-pie-chart-pay [array]="movementsForBarChartPay" [type]="'Pago'"></jhi-pie-chart-pay>
        </div>
    </div>
</div>
<div style="margin-bottom: 10px; margin-left: 30px; margin-top: 20px">
    <h4 class="card-subtitle">Crear / filtros</h4>
</div>
<div class="row">
    <div style="margin-left: 30px; margin-bottom: 1px; margin-top: 10px">
        <div class="form-inline" >
            <button style="margin-left: 20px" type="button" class="btn btn-success btn-fill" data-toggle="modal"
                    data-target="#exampleModal" (click)=createPayment()>
                <span class="fa fa-save"></span>&nbsp;Crear pago
            </button>
        </div>
    </div>
</div>
    <div style="margin-left: 30px; margin-bottom: 30px; margin-top: 30px">
        <div class="form-inline" >
            <label  style="margin-left: 10px; margin-right: 5px" >Tipo de pago:</label>
            <select
                id="selectId"
                class="form-control mb-2 mr-sm-2 mb-sm-0"
                style="width: 115px"
                (change)="getSelectByType(select.value)"
                #select>
                <option></option>
                <option *ngFor="let type of types" >{{type.description}}</option>
            </select>
            <label for="mySearch" style="margin-left: 10px; margin-right: 5px" >Prioridad:</label>
            <input style="width: 80px" [(ngModel)]="priority" type="number" id="mySearch" class="form-control mb-2 mr-sm-2 mb-sm-0">
            <button style="height: 40px; width: 80px" type="button" class="btn btn-info btn-fill" (click)="mySearchClick()">Buscar</button>
        </div>
    </div>
<div class="container-fluid">
    <div class="row" *ngIf="payments">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <h4 class="card-title">Lista de pagos</h4>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table id="table" class="table table-hover table-striped" *ngIf="payments.length !== 0">
                        <thead>
                        <th>Descripción</th>
                        <th>Tipo</th>
                        <th>Día de pago</th>
                        <th>Monto</th>
                        <th>Cuenta asociada</th>
                        <th>Prioridad</th>
                        <th> </th>
                        <th> </th>
                        </thead>
                        <tbody >
                        <tr *ngFor="let payment of payments">
                            <td>{{payment.comment}}</td>
                            <td>{{payment.description}}</td>
                            <td>{{payment.dateOfMovement}}</td>
                            <td>{{payment.acreditationAmmount}}</td>
                            <td>{{getBankById(payment.bankAccountId).bank}}</td>
                            <td>{{payment.priority}}</td>
                            <td>
                                <button id="BotonParaEsconder" class="btn btn-success btn-fill"
                                        (click) = "updatePayment(payment)">
                                    <span class="fa fa-edit"></span>&nbsp; Modificar
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-fill"
                                        (click) = "deletePayment(payment)">
                                    <span class="fa fa-remove"></span>&nbsp; Eiminar
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
