<div style="margin-bottom: 10px" class="card-header">
    <h4 class="card-title"> Movimientos bancarios</h4>
</div>
<div *ngIf="!allMovements && !allMovementsForPieChart && !allMovementsForBarChart">
    <div class='fullscreenDiv'>
        <div class="center"><jhi-loading></jhi-loading></div>
    </div>
</div>
<div *ngIf="allMovements && allMovementsForPieChart && allMovementsForBarChart">
    <div class="row">
        <div class="col-lg-6">
            <div *ngIf="allMovementsForPieChart">
                <jhi-pie-charts [array]="allMovementsForPieChart" [type]="'Ingresos'"></jhi-pie-charts>
            </div>
        </div>
        <div class="col-lg-6">
            <div *ngIf="allMovementsForBarChart">
                <jhi-bar-charts [array]="allMovementsForBarChart" [type]="'Gastos'"></jhi-bar-charts>
            </div>
    </div>
    </div>
    <div style="margin-bottom: 10px; margin-left: 30px; margin-top: 20px">
        <h4 class="card-subtitle">Crear / filtros</h4>
    </div>
    <div style="margin-left: 30px; margin-bottom: 30px; margin-top: 30px">
        <div class="form-inline" >
            <label style="margin-right: 5px" for="dateStartMovement">Fecha inicio:</label>
            <input
                [(ngModel)]="dateStartMovement"
                type="Date"
                id="dateStartMovement"
                class="form-control mb-2 mr-sm-2 mb-sm-0">
            <label style="margin-right: 5px" for="dateLastMovement">Fecha fin:</label>
            <input
                [(ngModel)]="dateLastMovement"
                type="Date"
                id="dateLastMovement"
                class="form-control mb-2 mr-sm-2 mb-sm-0">
            <button style="height: 40px" type="button" class="btn btn-info btn-fill"
                    (click) = "getFilterByDateMovement(selectMovements.value)">Filtrar</button>
            <label  style="margin-left: 10px; margin-right: 5px" >Tipo de movimiento:</label>
            <select
                id="selectMovements"
                class="form-control mb-2 mr-sm-2 mb-sm-0"
                style="width: 115px"
                (change)="getSelectMovementByType(selectMovements.value)"
                #selectMovements>
                <option>Sin filtro</option>
                <option>Gastos</option>
                <option>Ingresos</option>
            </select>
            <label  style="margin-left: 10px; margin-right: 5px" >Cuenta:</label>
            <select
                id="selectAccount"
                class="form-control mb-2 mr-sm-2 mb-sm-0"
                style="width: 170px"
                (change)="getSelectByAccountMovement(selectAccount.value)"
                #selectAccount>
                <option></option>
                <option *ngFor="let accountMovement of allAccounts"
                        value='{{accountMovement.id}}'>{{accountMovement.bank}}</option>
            </select>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" *ngIf="allMovements">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Lista de Movimientos</h4>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table id="table" class="table table-hover table-striped" *ngIf="allMovements.length !== 0">
                            <thead>
                            <th>Tipo</th>
                            <th>Descripción</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Cuenta asociada</th>
                            </thead>
                            <tbody >
                            <tr *ngFor="let movementAll of allMovements">
                                <td>{{movementAll.kindOfMovement}}</td>
                                <td>{{movementAll.description}}</td>
                                <td>{{movementAll.dateOfMovement}}</td>
                                <td>{{movementAll.acreditationAmmount}}</td>
                                <td *ngIf="movementAll.id">
                                    {{getBankByIdAllMovements(movementAll.bankAccountId)}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

