.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
h3{
    font-size: 40px;
    font-weight: bold;
}
.image {
    width: 100%;
    height: 100%;
    margin: auto;
    background-size: cover;
}

.text{
    text-align: center;

}
