<div class="contenedor">
        <img src="../../../../content/images/img-8.jpg" class="image"/>
    <div class="centrado"><h3>¿Qué pasaría si pudieras administrar tu dinero?</h3>
        <h4 style="font-weight: bold;">Te permitimos que tus finanzas sean fáciles, ¿querés ser el dueño de tu dinero?</h4></div>
</div>

<div class="text"><h4>Ver todo en un solo lugar</h4>
    <p>Reunimos todo, desde saldos y facturas hasta su puntaje de crédito y más. Es su vida financiera, en un lugar que es fácil de entender.</p>
    <img src="../../../../content/images/img-5.jpeg" style="width: 35%" />
    <br>
    <h4>Sepa dónde se encuentra, ¿cómo puede mejorar?</h4>
    <p>Cuantas más cuentas, tarjetas y facturas enlace, más podemos ayudarle a hacer. Vea lo que tiene y lo que debe. Comprenda a dónde va el dinero y dónde puede reducir. Cree presupuestos, realice un seguimiento de las inversiones, descubra nuevas formas de ahorrar y más.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 align="center">Manténgase actualizado a medida que suceda</h4>
            <br>
            <p style="text-align: justify">Safe Economy actualiza y categoriza automáticamente su información. Desde sus cuentas bancarias y tarjetas de crédito hasta cuentas de jubilación y más, reduciremos los números a medida que vayan pasando para que sepa dónde se encuentra.</p>
        </div>
        <div class="col-md-6">
            <img src="../../../../content/images/img-10.jpg"  style="float:left; width: 80%;"/>
        </div>
    </div>
</div>
<br>
