<p>Display event : {{displayEvent | json}}</p>
<div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions"
                     (eventClick)="eventButtonClick($event.detail)"
                     (eventDrop)="updateEventt($event.detail)"
                     (eventResize)="updateEventt($event.detail)"
                     (clickButton)="clickButtonn($event.detail)"
                    (dayClick)="dayClick($event)"></ng-fullcalendar>

</div>

