<div *ngIf="!preferencesPercetage && !preferencesTypePayment && !preferencesSavingPercentage">
    <div class='fullscreenDiv'>
        <div class="center"><jhi-loading></jhi-loading></div>
    </div>
</div>

    <div class="card-body">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Preferencias</h4>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="formPreferences" >
                                    <div class="row">
                                        <div class="col-md- pr-1">
                                            <div class="form-group" >
                                                <label>Porcentaje caja</label>
                                                <div *ngIf="!preferencesPercetage">
                                                    <input type="number" class="form-control" formControlName="percentage" >
                                                </div>
                                                <div *ngIf="preferencesPercetage">
                                                    <input type="number" class="form-control" formControlName="percentage" [(ngModel)]= "preferencesPercetage.description">
                                                </div>
                                                <button (click)="savePorcetage()"
                                                        [hidden]="confirm"
                                                        type="submit"
                                                        class="btn btn-success btn-fill"
                                                ><span class="fa fa-save"></span>{{preferencesPercetage?  'Modificar' : 'Crear porcentaje'}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 pr-1">
                                            <div class="form-group" >
                                                <label>Tipo de pago</label>
                                                <div *ngIf="!preferences">
                                                    <input type="text" class="form-control" formControlName="typePayment" >
                                                </div>
                                                <div *ngIf="preferences">
                                                    <input type="text" class="form-control" formControlName="typePayment" [(ngModel)]= "preferences.description">
                                                </div>
                                                <button (click)="saveTypePayment()"
                                                        [hidden]="confirm"
                                                        type="submit"
                                                        class="btn btn-success btn-fill"
                                                ><span class="fa fa-save"></span>{{preferences?  'Modificar' : 'Crear tipo de pago'}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 pr-1">
                                            <div class="form-group">
                                                <label>Porcentaje saludable de ahorro</label>
                                                <div *ngIf="preferencesSavingPercentage">
                                                    <input type="number" class="form-control" formControlName="savingPorcentage" [(ngModel)]="preferencesSavingPercentage.description">
                                                </div>
                                                <div *ngIf="!preferencesSavingPercentage">
                                                    <input type="number" class="form-control" formControlName="savingPorcentage" >
                                                </div>
                                                <button (click)="savingPorcetage()"
                                                        [hidden]="confirm"
                                                        type="submit"
                                                        class="btn btn-success btn-fill"
                                                ><span class="fa fa-save"></span>{{preferencesSavingPercentage?  'Modificar' : 'Crear porcentaje de ahorro'}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="sucess">
                                        <div style="background:#87CB16; margin-bottom:10px; padding: 5px; border-radius: 6px;" >
                                            <p style="color: white" >Guardado satisfactoriamente</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" *ngIf="showBakEntityForm">
                        <jhi-safe-economy-register-bank-entity [closeFunction]="toggleBankEtityForm"></jhi-safe-economy-register-bank-entity>
                    </div>

                    <div class="col-md-1" *ngIf="!showBakEntityForm">
                        <button type="button" class="btn btn-success btn-fill" (click)="toggleBankEtityForm(showBakEntityForm)" >
                            <span class="fa fa-save"></span>&nbsp;<span>Crear entidad</span>
                        </button>
                    </div>


                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Lista de entidades bancarias</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table id="table" class="table table-hover table-striped" *ngIf="bankEntities">
                                        <thead>
                                        <th>Nombre</th>
                                        <th>Dirección del sitio</th>
                                        <th>Logo</th>
                                        <th> </th>
                                        <th> </th>
                                        </thead>
                                        <tbody >
                                        <tr  *ngFor="let bankEntity of bankEntities" >

                                            <td>{{bankEntity.name}}</td>
                                            <td>{{bankEntity.url}}</td>
                                            <td><img [src]="bankEntity.logo"  style="width: 50%;"/> </td>
                                            <td>
                                                <button id="modificar" class="btn btn-success btn-fill"(click)="updateBankEntity(bankEntity)">
                                                    <span class="fa fa-edit"></span><span>Modificar</span>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-fill"
                                                        (click) = "deleteBankEntity(bankEntity)">
                                                    <span class="fa fa-remove"></span>&nbsp; Eiminar
                                                </button>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Lista de tipos de pago</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table id="tableType" class="table table-hover table-striped" *ngIf="preferencesTypePayment">
                                        <thead>
                                        <th>Tipo de pago</th>
                                        </thead>
                                        <tbody >
                                        <tr *ngFor="let preferences of preferencesTypePayment">

                                            <td>{{preferences.description}}</td>
                                            <button type="button" class="btn btn-success btn-fill" (click)="updatePreferenceTypePayment(preferences)">
                                                <span class="fa fa-edit"></span>&nbsp;<span>Modificar</span>
                                            </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


