<div>
    <div style="border-color: #f93e49; border-radius: 10px; border-style: solid; margin: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 style="text-align: center">Recuperar contraseña</h3>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>La clave de restablecimiento de contraseña falta</strong>
            </div>

            <div style="text-align: center; width: 100%" class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Elija una contraseña nueva</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Su contraseña no pudo ser restablecida. Recuerde que una solicitud de contraseña solo es válida por 24 horas</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Tu contraseña ha sido restablecida</strong> Por favor </span>
                <a class="alert-link" (click)="login()">iniciar sesion</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                ¡La contraseña y su confirmación no coinciden!
            </div>

            <div *ngIf="!keyMissing">
                <form [formGroup]="resetPasswordForm" *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()">
                    <div class="form-group">
                        <label class="form-control-label" for="newPassword">Nueva contraseña</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               placeholder="Nueva contraseña"
                               formControlName="newPassword">
                    </div>
                    <div *ngIf="resetPasswordForm.get('newPassword').dirty && resetPasswordForm.get('newPassword').invalid">
                        <small class="form-text text-danger" *ngIf="resetPasswordForm.get('newPassword').errors.pattern">
                            La contraseña debe de tener por lo menos una mayuscula,
                            una minuscula y,
                            un caracter especial.
                        </small>
                        <small class="form-text text-danger" *ngIf="resetPasswordForm.get('newPassword').errors.minlength">
                            El nombre de usuario debe de tener por lo menos 8 caracteres.
                        </small>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="newPasswordConfirm">Confirmacion de la nueva contraseña</label>
                        <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm"
                               placeholder="Confirmar la nueva contraseña"
                               formControlName="newPasswordConfirm">
                    </div>
                    <button type="submit" style="margin-bottom: 30px" [disabled]="!resetPasswordForm.valid" class="btn btn-primary btn-fill">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

