<div class="card">

    <div class="modal-header" style="margin-bottom: 20px">
        <h4 style="margin-left: 140px">Safe Economy</h4>
        <div class="alert alert-success" *ngIf="success">
            <strong>Cuenta creada!</strong> Hemos enviado un correo de confirmacion.
        </div>
        <div class="alert alert-danger" *ngIf="error">
            <strong>Por favor intente mas tarde!</strong>.
        </div>

        <div class="alert alert-danger" *ngIf="errorUserExists">
            <strong>Nombre de usuario ya utilizado!</strong> Porfavor utilize otro.
        </div>

        <div class="alert alert-danger" *ngIf="errorEmailExists">
            <strong>Ese correo ya esta en uso!</strong> Porfavor utilize otro.
        </div>

        <div class="alert alert-danger" *ngIf="doNotMatch">
            Las contraseñas no coinciden!
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top: -20px !important">
        <form [formGroup]="singinForm">
            <div class="form-group">
                <label for="userName">Nombre de usuario:</label>
                <input
                    placeholder="Nombre de usuario"
                    type="text"
                    id="userName"
                    formControlName="userName"
                    class="form-control">
                <div *ngIf="singinForm.get('userName').dirty && singinForm.get('userName').invalid">
                    <small class="form-text text-danger" *ngIf="singinForm.get('userName').errors.required">
                        El nombre de usuario es requerido.
                    </small>
                    <small class="form-text text-danger" *ngIf="singinForm.get('userName').errors.minlength">
                        El nombre de usuario debe de tener por lo menos 6 caracteres.
                    </small>
                    <small class="form-text text-danger" *ngIf="singinForm.get('userName').errors.maxlength">
                        El nombre de usuario debe de tener menos de 50.
                    </small>
                    <small class="form-text text-danger" *ngIf="singinForm.get('userName').errors.pattern">
                        El nombre de usuario no debe de contener caracteres especiales.
                    </small>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        <label for="email">Nombre:</label>
                        <input
                            placeholder=""
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control">
                    </div>
                </div>
                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        <label for="email">Apelidos:</label>
                        <input
                            placeholder=""
                            type="text"
                            id="lastname"
                            formControlName="lastName"
                            class="form-control"
                        >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Correo Electonico:</label>
                <input
                    placeholder="ejemplo@ejemplo.com"
                    type="text"
                    id="email"
                    formControlName="email"
                    class="form-control">
                <div *ngIf="singinForm.get('email').dirty && singinForm.get('email').invalid">
                    <small class="form-text text-danger" *ngIf="singinForm.get('email').errors.pattern">
                        Por favor ingrese un correo Valido.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Contraseña :</label>
                <input
                    placeholder=""
                    type="password"
                    id="password"
                    formControlName="password"
                    class="form-control">
                <div *ngIf="singinForm.get('password').dirty && singinForm.get('password').invalid">
                    <small class="form-text text-danger" *ngIf="singinForm.get('password').errors.pattern">
                        La contraseña debe de tener por lo menos una mayuscula,
                        una minuscula y,
                        un caracter especial.
                    </small>
                    <small class="form-text text-danger" *ngIf="singinForm.get('password').errors.minlength">
                        El nombre de usuario debe de tener por lo menos 8 caracteres.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Confirmar Contraseña :</label>
                <input
                    placeholder=""
                    type="password"
                    id="confirm_password"
                    formControlName="confirm_password"
                    class="form-control">
            </div>
        </form>
    </div>
    <div *ngIf="loading">
        <jhi-loading></jhi-loading>
    </div>
    <div class="row justify-content-center" *ngIf="!loading">
        <button class="btn btn-success btn-fill"
                (click)="singin()"
                [disabled]="!singinForm.valid">
            <span>Crear cuenta</span>
        </button>
    </div>
</div>


