
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img src="../../../../content/images/img-1.jpg"  alt="Random first slide" class="image"/>
                    <div class="carousel-caption">
                        <h4 class="text">Cree presupuestos que tengan sentido hoy y configúrelo para el éxito mañana.</h4>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="../../../../content/images/img-2.jpg"  alt="Random second slide" class="image"/>
                    <div class="carousel-caption">
                        <h4 class="text">Vea las facturas y el dinero juntos, para saber qué se debe, cuándo vence y cuánto puede pagar.</h4>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="../../../../content/images/img-3.jpg"  alt="Random third slide" class="image"/>
                    <div class="carousel-caption">
                        <h4 class="text">Reciba alertas por cargos de cuenta inusuales y obtenga consejos personalizados para reducir tarifas y ahorrar dinero.</h4>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="../../../../content/images/img-4.png"  alt="Random third slide" class="image"/>
                    <div class="carousel-caption">
                        <h4 class="text">Obtenga su puntaje de crédito gratis y aprenda cómo puede mejorarlo ahora para obtener las cosas que desea más adelante.</h4>
                    </div>
            </ngb-carousel>
        </div>


<div class="row">
        <div class="col-md-4">
            <h3 class="tittle2">¿Presupuestos?</h3>
            <p textPar>Cree presupuestos fácilmente y vea nuestras sugerencias en función de sus gastos.</p>
            <img style="display:block;margin:0 auto 0 auto;padding-top: 25px;" src="../../../../content/images/Budgets.png"  class="imgicono"/>

        </div>
        <div class="col-md-4">
            <h3 class="tittle2">¿Cuentas?</h3>
            <p textPar>Haga un seguimiento de sus cuentas como nunca antes. Reciba alertas cuando llegue el momento de pagar para que nunca se pierda un pago.</p>
            <img style="display:block;margin:0 auto 0 auto;" src="../../../../content/images/bills.png"  class="imgicono"/>
        </div>
        <div class="col-md-4">
            <h3 class="tittle2">¿Ahorros?</h3>
            <p textPar>Cree sus ahorros, visualicelos por un tiempo determinado.</p>
            <img style="display:block;margin:0 auto 0 auto;padding-top: 25px;"  src="../../../../content/images/credit.png"  class="imgicono"/>
        </div>
    </div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../../content/images/img-9.jpeg"  style="float:left;"/>
        </div>
        <div class="col-md-6">
                <h3 align="center">Personalizado para ti</h3>
                <br>
            <p class="textPar">Cree presupuestos que tengan sentido hoy y configúrelo para el éxito mañana.
            Vea las facturas y el dinero juntos, para saber qué se debe, cuándo vence y cuánto puede pagar.
            Reciba alertas por cargos de cuenta inusuales y obtenga consejos personalizados para reducir tarifas y ahorrar dinero.
            Obtenga su puntaje de crédito gratis y aprenda cómo puede mejorarlo ahora para obtener las cosas que desea más adelante.</p>
        </div>
    </div>
</div>
<br>

<!--The content below is only a placeholder and can be replaced.-->








