/*mio*/
.landing-image {
    display: block;
    width: 75%;
    height: 450px;
    margin: auto;
}
.textPar{
    text-align: justify ;
}
.tittle2 {
    text-align: center;

}
.image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.text{
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}


